@import "~bootstrap/scss/bootstrap";

.card-box {
    border: 3px dashed darkcyan;
}

.card {
    border: 3px dashed gold;
    padding: 1rem;
    margin: 0.8rem;
}

.col {
    border: 3px dashed greenyellow;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
